- #  Copyright (c) 2025, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas.

%div.d-flex.flex-wrap.w-100.align-items-center
  %div.col-11.col-md-5.me-3.mb-1
    = f.input_field(:number, placeholder: PhoneNumber.human_attribute_name(:number))
  %div.col-11.col-md-4.d-flex.flex-row.me-3
    = f.object.translated_label
