.bundle/
log/*
tmp/
pkg/
doc/rdoc
db/*.sqlite3
zeus.json
.sass-cache
.project
.envrc
*.iml
.generators
.idea
.rakeTasks
.nvimrc
.byebug_history
TODO.md
db/seeds/production/*.xlsx
db/seeds/production/*.xlsx#

# ignore Gemfile.lock for wagons
Gemfile.lock

# only touched to make rails-vim work
config/environment.rb

config/abacus.yml
config/settings.local.yml

# reports
/coverage
spec/coverage
spec/reports
brakeman-output.tabs
rubocop-results.xml

# csv
spec/fixtures/files/sac_imports_src/.~lock*
