-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- beitragskategorie = c.model.wizard.human_role_type
- sektion_name = c.model.wizard.join_operation.join_section.name
- if c.model.wizard.choose_sektion.group.decorate.membership_admission_through_gs?
  %p=t('.admission_through_gs', beitragskategorie:, sektion_name:)
- else
  %p=t('.admission', beitragskategorie:, sektion_name:)
= c.bottom_toolbar
