-#  Copyright (c) 2012-2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

-# The core renders this extension on people/_attrs and participations/_attrs
-# In the case of SAC we only want to display these information on people/_attrs
- unless @event
  = render_attrs(entry, :correspondence, :advertising, :confirmed_at)
  - if entry.family_id.present?
    = render_attrs(entry, :family_id, :sac_family_main_person)
  - if entry.sac_membership_anytime?
    = render_present_attrs(Person.with_membership_years.find(entry.id), :membership_number, :membership_years)
