= f.labeled(:digital_correspondence) do
  = f.inline_radio_button(:digital_correspondence, true, t('.digital_correspondence.digital'))
  = f.inline_radio_button(:digital_correspondence, false, t('.digital_correspondence.print'))
