-#  Copyright (c) 2012-2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

= f.labeled(:correspondence) do
  - SacCas::Person::CORRESPONDENCES.each do |key|
    = f.inline_radio_button(:correspondence, key, t("activerecord.attributes.person.correspondences.#{key}") )
= f.labeled_input_field(:advertising)
