-# frozen_string_literal: true

-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- if can?(:update, entry) && People::MembershipVerifier.new(entry).member?
  %h2= t('.documents')
  %div
    %dl.dl-horizontal
      = labeled t('.membership') do
        = link_to t('.download'), membership_path(format: :pdf), target: :new
