-# frozen_string_literal: true
- # Named with z so it will show up at the end.

-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- if can?(:update, entry) && entry.sac_membership_anytime?
  %section.sac-membership.row
    %h2.col-md-8
      = t('.section_sac_membership')
    .col-sm-4.d-flex.justify-content-end
      = action_button(t('.download_pdf'), membership_path(entry, format: :pdf),
        :download, class: 'membership-download', target: '_blank')

    .d-flex.justify-content-center.w-100
      .qr-code-wrapper
        .inner
          = people_sac_membership_qr_code(entry)
          .hint
            = t('.qr_code_hint')
