-# frozen_string_literal: true
- # Named with z so it will show up at the end.

-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- if can?(:update, entry) && entry.sac_membership_anytime?
  %section.sac_membership
    %h2
      = t('.section_sac_membership') 
      .float-end
        = people_sac_membership_download_dropdown(entry)

    %div
      %dl.dl-horizontal
      .d-flex.justify-content-center
        .qr-code-wrapper
          .inner
            = qr_code_image_tag(entry)
            .hint
              = t('.qr_code_hint')