-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

= c.form_error_messages
-# TODO: Personen und ihre data quality errors auflisten (app/views/people/_data_quality_sac_cas.html.haml)
= c.cancel_link_back_to_person
