-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Aformero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

.well.p-3.row.col-11.col-xxl-5.flex-flow-column.me-auto.ms-3.pb-5
  = content_tag :span, wizard.fee.beitragskategorie_label, class: "mb-2 h3"
  = content_tag(:div, "Sektion #{wizard.group.layer_group.name}", class: "h6 fw-bold mh-20-px")
  - *positions, total = wizard.fee.lines
  - positions.each do |line|
    %div
      %dt.muted.float-start.text-end.mr-2=line.amount
      %dd.mb-2=line.label
  %div.fw-bold
    %dt.float-start.text-end.mr-2=total.amount
    %dd.mb-2=total.label
