-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

%turbo-frame{id: remark_attr_name}
  = form_for person, url: group_person_sac_remark_path(group, person, remark_attr_name), method: :put do |f|
    = f.text_field remark_attr_name, class: 'form-control'
    = f.submit t('global.button.save'), class: 'btn btn-primary btn-sm mt-2'
