-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas

= render 'event/participations/step_wizard', step: step

.row
  %main.col-lg
    = yield
  .col-md
    = turbo_frame_tag :course_signup_aside do
      = render 'event/participations/course_signup_aside', total: 1300, subsidy: entry.subsidy_amount

