- #  copyright (c) 2024, schweizer alpen-club. this file is part of
- #  hitobito_sac_cas and licensed under the affero general public license version 3
- #  or later. see the copying file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas.

- content_for(:top) do
  - title t('event.participations.form.title_new', role: entry.roles.first.class.model_name.human)

  - unless params[:for_someone_else]
    = render 'event/participations/step_wizard', step: 2

- content_for(:main) do
  - submit_label = entry.subsidizable? ? t('global.button.next') : t('event.participations.form.apply')
  = render 'form', submit_label: submit_label
