-# frozen_string_literal: true

-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

.control-group
  = form.labeled :note do
    = text_area_tag :note, nil, name: :note, placeholder: ti('.note_placeholder', count: 1), class: 'form-control form-control-sm mt-2'
