- #  Copyright (c) 2026, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas.

= crud_table do |t|
  - t.sortable_attr(:label) do |d|
    = icon(:circle, style: "color: #{d.color}") if d.color
    = d.label
  - t.sortable_attrs(:order, :short_description, :description, :children, :updated_at, :deleted_at)
  - add_table_actions(t)
