%ul.pagination.pagination-sm
  - @available_configs.each do |config|
    %li.page-item{ class: item_class(config) }
      = link_to_edit_config(config)
  %li.page-item{ class: new_item_class }
    = link_new_config
