- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas

- entry.used?(:minimum_age) do
  = f.labeled_input_field(:minimum_age)
- entry.used?(:maximum_age) do
  = f.labeled_input_field(:maximum_age)
- entry.used?(:ideal_class_size) do
  = f.labeled_input_field(:ideal_class_size)
- entry.used?(:maximum_class_size) do
  = f.labeled_input_field(:maximum_class_size)
