-#  Copyright (c) 2012-2015, Pfadibewegung Schweiz. This file is part of
-#  hitobito_pbs and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_pbs.

- if course?
  #prices.tab-pane
    = field_set_tag do
      - entry.used_attributes(*Event::Course::PRICE_ATTRIBUTES).each do |price_attribute|
        = f.labeled_input_field(price_attribute, label: price_category_label(entry, price_attribute), addon: t('global.currency'), type: 'number', step: 0.01)
