-#  Copyright (c) 2024 SAC CAS. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas

- if course?
  %li.nav-item= link_to(t('events.form_tabs.prices'), '#prices', data: { bs_toggle: 'tab' }, class: 'nav-link')
  %li.nav-item= link_to(t('events.form_tabs.communication'), '#communication', data: { bs_toggle: 'tab' }, class: 'nav-link')
