= f.fields_for(entry.step_at(step_index), entry.step_at(step_index)) do |summary_form|
  .col-12
    %strong
      NOT IMPLEMENTED YET

.btn-toolbar.bottom.allign-with-form
  = c.navigation_links

= render 'shared_partial'
