
# Settings relevant for the hitobito_sac_cas wagon
# Overrides settings from the main application
application:
  languages:
    de: Deutsch

  # non UI languages for assigning to person#language
  # additional_languages:
  #   en: Englisch

# The person with this email has root access to everything
# This person should only be used by the operators of the application,
# not the customers.
# Initially, a password reset token may be mailed from the application
# to this address to set a password.
root_email: hitobito-sac-cas@puzzle.ch
