- #  copyright (c) 2024, schweizer alpen-club. this file is part of
- #  hitobito_sac_cas and licensed under the affero general public license version 3
- #  or later. see the copying file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas.

- title t('.title')

- if event.course?
  = render 'event/participations/course_signup', step: 1 do
    = render 'form', buttons_top: false

- else
  = render 'event/participations/step_wizard', step: 1
  = render 'form'
