- #  Copyright (c) 2026, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito_sac_cas.

- if entry.group&.is_a?(Group::FreigabeKomitee)
    = f.labeled_collection_select(:approval_kind_ids,
                                Event::ApprovalKind.all,
                                :id,
                                :name,
                                { },
                                { class: "form-select",
                                multiple: true,
                                data: { chosen_no_results: t("global.chosen_no_results"),
                                        controller: "tom-select" } })

%div{ data: { controller: "field-visibility", "field-visibility-observed-field-id-value": "role_type", "field-visibility-show-when-data-value": "showOnboardingMail" } }
    .row.mb-2{ class: "hidden", data: { "field-visibility-target": "container" } }
        .offset-2
            = check_box_tag(:send_onboarding_mail, true, entry.new_record?, class: "form-check-input")
            = label_tag :send_onboarding_mail, t(".send_onboarding_mail")