-#  copyright (c) 2024, schweizer alpen-club. this file is part of
-#  hitobito_sac_cas and licensed under the affero general public license version 3
-#  or later. see the copying file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

.row
  .col-lg
    = render 'event/participation_contact_datas/fields', f: f
  .col-lg
    = render 'event/participations/contact_data_aside'