- #  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
- #  hitobito_sac_cas and licensed under the Affero General Public License version 3
- #  or later. See the COPYING file at the top-level directory or at
- #  https://github.com/hitobito/hitobito.

= action_button(t('.push_down_button'),
                push_down_event_kind_path(entry),
                :'level-down-alt',
                data: { method: :put, confirm: t('.push_down_button_confirm') })
