-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

.offset-md-1
  %table.table
    %thead
      %tr
        %th=t('.annual_price_header')
        - if entry.dummy_costs.first.country
          %th=t('.delivery_country_header')
    %tbody
      - entry.dummy_costs.each do |cost|
        %tr
          %td=t('.price_with_vat', amount: format("%2.f", cost.amount))
          - if cost.country
            %td=t(".#{cost.country}")
