-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- # redirects are not interpreted when remote=true is on form, handle this in controller?
- attrs = entry.last_step? ? {} : {data: { controller: 'autosubmit' }, remote: true}

= standard_form(entry, {url: group_self_registration_path}.merge(attrs)) do |f|
  = render 'fields', f: f
