-#  Copyright (c) 2024, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

= c.fields_for do |form|
  .align-with-form
    
    = render "wizards/steps/signup/abo_magazin/abo_info_table"
    = render "wizards/steps/signup/abo_magazin/person_info_table", person: wizard.person_fields

    .alert.alert-info.w-50=t(".info_text")
    
    = render "wizards/steps/signup/agreement_fields", form: form