-#  Copyright (c) 2023, Schweizer Alpen-Club. This file is part of
-#  hitobito_sac_cas and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sac_cas.

- title render_self_registration_title(entry.group_for_title)


- Wizards::Base.steps = [Wizards::Steps::ChooseSektionForm]
- wizard = Wizards::Base.new(current_step: 0, current_ability: current_ability, **params.to_unsafe_h)
= standard_form(wizard, url: group_self_registration_path, data: { turbo: 'false' }) do |f|
  = render StepsComponent.new(partials: wizard.partials, step: 0, form: f)
