name: 'Lint and test'

on:
  # The nightly build allows us to notice if changes to the core
  # break the wagon.
  schedule:
    - cron:  '38 3 * * *'
  push:
    paths-ignore:
      - 'doc/**'
      - '**.md'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - '**.md'
  workflow_dispatch: # Allow triggering manually
    inputs:
      core_ref:
        description: Use a specific version of the core for the workflow run. Defaults to master.
        type: string
        default: 'sac-master'
      wagon_dependency_ref:
        description: Use a specific version of the wagon dependency for the workflow run. Defaults to master.
        type: string
        default: 'sac-master'

jobs:
  wagon_tests:
    uses: hitobito/hitobito/.github/workflows/wagon-tests.yml@master
    with:
      wagon_repository: ${{ github.event.repository.name }}
      wagon_dependency_repository: hitobito_youth
      core_ref: sac-master
      wagon_dependency_ref: sac-master
    secrets:
      HEARTBEAT_URL: ${{ secrets.HEARTBEAT_URL }}
      HEARTBEAT_TOKEN: ${{ secrets.HEARTBEAT_TOKEN }}
