:css
  body {
    font-family: Hind, Frutiger, Helvetica, Arial, sans-serif;
    line-height: 1.4;
    --padding: 20px;
    --lightgray: #e0e0e0;
  }

  #content {
    padding: var(--padding);
  }

  a {
    color: inherit;
  }

  table {
    border-collapse: collapse;
  }

  tr {
    border-top: 1px solid var(--lightgray);
  }
  thead tr {
    border-top: none;
  }

  td {
    padding: 5px var(--padding) 5px 0;
  }

  footer {
    background-color: var(--lightgray);
    padding: var(--padding);
  }

  address {
    font-style: normal;
  }

  address p {
    margin: 0;
  }

  header {
    padding: var(--padding);
  }

  .logo {
    display: block;
    width: 200px;
    height: 85px;
    object-fit: contain;
    object-position: center center;
    text-align: center;

    img {
      max-width: 200px;
      max-height: 85px;
    }
  }

  dl {
    margin: 0;
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 15em auto;
  }

  dd {
    margin: 0;
  }

  dl + br {
    display: none;
  }
